{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>

<body style="height: 2020px;margin: 0px;background-color: rgb(27, 27, 104);">
    
        <div class="nav">
            <!-- <h1 style="margin: 0px;display: inline;">CSS</h1> -->
            <img src="{% static 'image/india.jpg' %}" alt="" class="india">
            <ul style="display: inline;color: aliceblue;margin-left: 800px;">
                <li><a href="">Home</a></li>
                <li><a href="" >contact</a></li>
                <li><a href="">About</a></li>
            </ul>
        
        </div>
        <div class="main">
            <div class="div1"></div>
            <div class="div2"><h2>INDIA</h2></div>
            <div class="div3"></div>
            
            <img src="{% static 'image/wicon.jpg' %}" alt="" class="img">
        </div>
        
    
    <u><h1>OUR COUNTRY</h1></u>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto perspiciatis exercitationem labore, voluptas consequatur ad mollitia<br> modi asperiores sint doloribus voluptatem autem corporis sed odio quis culpa ullam cum corrupti fugiat possimus,<br> laborum hic dolor! Neque reiciendis, ipsum est esse tenetur unde aliquid nam laborum vel porro, animi, corporis cum!</p>
    <div class="one"><img src="{% static 'image/gandi.jpg' %}" alt="error"></div>
    <div class="two"><img src="{% static 'image/jawahar.jpg' %}" alt="error"></div>
    

</body>


</html>